@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using UserMDS.Models
@model IEnumerable<FreightMilesModel>
@{
    Layout = null;
}
<div id="menu">
    <ul class="k-menu k-header k-reset k-widget k-menu-horizontal" id="Menu" data-role="menu"
        aria-orientation="horizontal" tabindex="0" role="menubar" aria-activedescendant="Menu_mn_active">
        <li class="k-item k-menu-item k-first" aria-haspopup="true" aria-expanded="false" role="menuitem"
            id="Menu_mn_active">
            <span class="k-link k-menu-link">
                <a href="/">

                    <span class="k-menu-link-text">Back To Dashboard</span>
                </a>
            </span>
        </li>

    </ul>

</div>
@if (Model.Count() > 0)
{

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade  overflow-auto show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <table class="freightMiles table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>S.No</th>
                        <th>Index</th>
                        <th>Previous Stop Zip</th>
                        <th>Next Stop Zip</th>
                        <th>Miles</th>
                        <th>Mileage Source</th>
                        <th>1st</th>
                        <th>2nd</th>
                        <th>Revised</th>
                        <th>Domain</th>
                         <th>Maintained By</th>
                        <th>Created Date</th>
                        <th>Modified Date</th>
                        @*     <th>Created By</th>*@


                    </tr>
                </thead>
                @{

                    int counter = 1;
                    @foreach (FreightMilesModel result in Model)
                    {
                        <tr>
                            <td>@counter</td>
                            <td>@result.Index</td>
                            <td>@result.prev_stop_zip</td>
                            <td>@result.next_stop_zip</td>
                            <td>@result.miles</td>
                            <td>@result.mileage_src</td>
                            <td>@result.first</td>
                            <td>@result.second</td>
                            <td>@result.revised</td>
                            <td>@result.domain</td>
                            <td>@result.maintained_by</td>
                            <td>@result.created_date</td>
                            <td>@result.modified_date</td>
                            @* <td>@result.created_by</td>*@


                        </tr>
                        counter++;
                    }
                }
            </table>
        </div>

    </div>

}
<script type="text/javascript">
    $(document).ready(function () {

        let table = new DataTable('.FreightMiles', {
            dom: 'Bfrtip',
            buttons: [

                'excelHtml5'


            ]
        });


    });

</script>

