@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using UserMDS.Models
@model IEnumerable<UKGProdCenterModel>
@{
    Layout = null;
}
<div id="menu">
    <ul class="k-menu k-header k-reset k-widget k-menu-horizontal" id="Menu" data-role="menu"
        aria-orientation="horizontal" tabindex="0" role="menubar" aria-activedescendant="Menu_mn_active">
        <li class="k-item k-menu-item k-first" aria-haspopup="true" aria-expanded="false" role="menuitem"
            id="Menu_mn_active">
            <span class="k-link k-menu-link">
                <a href="/">

                    <span class="k-menu-link-text">Back To Dashboard</span>
                </a>
            </span>
        </li>

    </ul>

</div>
@if (Model.Count() > 0)
{

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade  overflow-auto show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <table class="UKGData table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>S.No</th>
                        <th>Plant</th>
                        <th>Cost Center</th>
                        <th>Shift</th>
                        <th>Domain</th>
                        <th>Maintained By</th>
                        <th>Created Date</th>
                         <th>Created By</th>
                       


                    </tr>
                </thead>
                @{

                    int counter = 1;
                    @foreach (UKGProdCenterModel result in Model)
                {
                    <tr>
                    <td>@counter</td>
                        <td>@result.Plant</td>
                        <td>@result.Cost_Center</td>
                        <td>@result.Shift</td>
                        <td>@result.Domain</td>
                        <td>@result.Maintained_By</td>
                            <td>@result.Created_Date</td>
                            <td>@result.Created_By</td>


                    </tr>
                        counter++;
                    }
                }
            </table>
        </div>

    </div>

}
<script type="text/javascript">
    $(document).ready(function () {

        let table = new DataTable('.UKGData', {
            dom: 'Bfrtip',
            buttons: [

                'excelHtml5'


            ]
        });
       

    });

</script>
